<div class="admin-element-toolbar mat-card-header" style="display: flex; flex-direction: row; justify-content: space-between">
  <div>
    <button mat-icon-button (click)="onDelete.emit({})">
      <mat-icon>delete</mat-icon>
    </button>

    <mat-form-field style="width: 100px;">
      <mat-label>Typ</mat-label>
      <mat-select [value]="type" (selectionChange)="onTypeChange.emit($event.value)" placeholder="Select Type">
        <mat-option *ngFor="let plugin of types" [value]="plugin.type">{{ plugin.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="display: flex; flex-direction: row;" *ngIf="type && type !== ''">
    <div *ngIf="toolbarRef">
      <ng-container *ngTemplateOutlet="toolbarRef">

      </ng-container>
    </div>

    <button mat-icon-button (click)="onOpenSettings.emit({})">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button (click)="onOpenToggle.emit({})">
      <ng-container *ngIf="!open">
        <mat-icon>unfold_more</mat-icon>
      </ng-container>

      <ng-container *ngIf="open">
        <mat-icon>unfold_less</mat-icon>
      </ng-container>
    </button>
  </div>
</div>
