<div *ngIf="!page">
  Create new Page
</div>

<div *ngIf="page">
  <div class="page-toolbar">
    <button mat-icon-button (click)="save()">
      <mat-icon>save</mat-icon>
    </button>

    <button mat-icon-button (click)="delete()" *ngIf="page.id">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="page">
    <div class="">
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input [(ngModel)]="page.name" (ngModelChange)="onNameChange($event)" matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Page Url</mat-label>
          <input [(ngModel)]="page.route" matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Parent</mat-label>
          <mat-select [(ngModel)]="page.parent">
            <mat-option [value]="null">-</mat-option>
            <mat-option [value]="68">Test Parent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <app-editor2 [content]="page.content"></app-editor2>
    </div>
  </div>
</div>
