<div>
  <ng-container *ngIf="!values.template || values.template === ''">
    No Template selected
  </ng-container>

  <ng-container *ngIf="!values.placeholder || values.placeholder.length === 0">
    No Elements
  </ng-container>

  <div *ngFor="let placeholder of values.placeholder; let i = index" style="display: flex; flex-direction: column; margin-top: 10px;" class="mat-card">
    <div>
      <button mat-icon-button (click)="delete(i)">
        <mat-icon>delete</mat-icon>
      </button>

      <mat-form-field>
        <mat-label>Platzhalter</mat-label>
        <input matInput type="text" [(ngModel)]="values.placeholder[i].name">
      </mat-form-field>
    </div>

    <div style="flex-grow: 1;">
      <app-element [element]="values.placeholder[i].element" (onDelete)="onDelete(i)"></app-element>
    </div>
  </div>
</div>

<ng-template #toolbar>
  <button mat-icon-button (click)="addPlaceholder()">
    <mat-icon>add</mat-icon>
  </button>
</ng-template>

<ng-template #settings>
  <div>
    <mat-form-field>
      <mat-label>Template</mat-label>
      <mat-select [(ngModel)]="values.template" (selectionChange)="onTemplateChange($event)">
        <mat-option value="default">Default</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>
