<!--<mat-sidenav-container fullscreen>-->
<!--  <mat-sidenav mode="side" #toolbarEl position="end">-->
<!--    <div *ngIf="toolbar">-->
<!--      <ng-container *ngTemplateOutlet="toolbar">-->

<!--      </ng-container>-->
<!--    </div>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--          <button mat-icon-button>-->
      <!--            <mat-icon>menu</mat-icon>-->
      <!--          </button>-->

      <h1>EasyCMS Admin</h1>

      <span class="menu-spacer"></span>

      <div>
        <a routerLink="/content" mat-button>Content</a>
        <a routerLink="/user" mat-button>User</a>
        <a routerLink="/data" mat-button>Data</a>
        <a routerLink="/test" mat-button>Test</a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <a mat-button routerLink="/content/page">Pages</a>
      <a mat-button routerLink="/content/field">Static Fields</a>
      <a mat-button routerLink="/content/template">Templates</a>
      <a mat-button routerLink="/content/form">Forms</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<section style="flex-grow: 1; display: flex;">
  <router-outlet></router-outlet>
</section>
