<ng-container *ngIf="values.src">
  <img
    [src]="sanitizer.bypassSecurityTrustUrl((values.src.indexOf('http') > -1 || values.src.indexOf('https') > -1 ? '' : 'http://localhost:80') + values.src)"
    [alt]="values.alt"
    style="width: 100%;">
</ng-container>

<div *ngIf="!values.src">
  Kein Bild ausgewaehlt
</div>

<ng-template #settings>
  <app-html [values]="values"></app-html>

  <div>
    <mat-form-field>
      <mat-label>Src</mat-label>
      <input matInput [(ngModel)]="values.src">
    </mat-form-field>
  </div>

  <div>
    <button mat-button>
      Select
    </button>

    <button mat-button>
      Upload
    </button>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Alt</mat-label>
      <input matInput [(ngModel)]="values.alt">
    </mat-form-field>
  </div>
</ng-template>
