<button (click)="onAddPage()" mat-icon-button>
  <mat-icon>add</mat-icon>
</button>

<p-tree [value]="tree">
  <ng-template let-node pTemplate="default">
    <span style="display: inline-block; width: 20px;" *ngIf="!hasChild(node.id, node)"></span>
    <span style="display: inline-block;" class="tree-node" [ngClass]="{'selected': node.id === selection}">
      <a class="tree-label" [routerLink]="'/page/' + node.id">{{ node.label }}</a>

      <button mat-icon-button (click)="onAddPage(node.id)">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-icon-button (click)="onDeletePage(node.id)">
        <mat-icon>remove</mat-icon>
      </button>
<!--      <i class="pi pi-arrow-up" style="font-size: 1em; margin-left: 10px;" (click)="onMoveTop(node)"></i>-->
<!--      <i class="pi pi-arrow-down" style="font-size: 1em; margin-left: 10px;" (click)="onMoveDown(node)"></i>-->
    </span>
  </ng-template>
</p-tree>


