<div *ngIf="page">
  <div class="page-toolbar">
    <button mat-icon-button (click)="save()">
      <mat-icon>save</mat-icon>
    </button>

    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="page">
    <div class="page-settings admin-accordion">
      <div class="admin-accordion-header">
        Settings
      </div>

      <div class="admin-accordion-body">
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input [(ngModel)]="page.name" (change)="onNameChange($event)" matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Page Url</mat-label>
            <input [(ngModel)]="page.route" matInput disabled>
          </mat-form-field>

          <mat-checkbox>
            <mat-label>Dynamic</mat-label>
          </mat-checkbox>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Parent</mat-label>
            <mat-select [(ngModel)]="page.parent" readonly>
              <mat-option [value]="null">-</mat-option>
              <mat-option [value]="68">Test Parent</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="page-content admin-accordion">
      <div class="page-accordion-header">
        Content
      </div>

      <div class="page-accordion-body">
        <app-editor2 [content]="page.content"></app-editor2>
      </div>
    </div>
  </div>
</div>
