<mat-sidenav-container style="flex-grow: 1;">
  <mat-sidenav [opened]="leftMenuOpen" mode="side" #pageNav>
    <div style="width: 200px;">
      <mat-list>
        <mat-list-item>
          <div matLine style="display: flex; justify-content: space-between;">
            <button mat-icon-button (click)="add()">
              <mat-icon>add</mat-icon>
            </button>

            <button mat-icon-button (click)="leftMenuOpen = false">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <ng-container *ngFor="let f of forms">
          <a mat-list-item [routerLink]="'./' + f.id">{{ f.name }}</a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="position: relative; padding: 15px;">
      <div *ngIf="!leftMenuOpen" style="position: absolute; top: 0; left: 0;">
        <button mat-icon-button (click)="leftMenuOpen = true">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <div *ngIf="!rightMenuOpen" style="position: absolute; top: 0; right: 0">
        <button mat-icon-button (click)="rightMenuOpen = true">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <div *ngIf="form">
        <div>
          <button mat-icon-button (click)="save()">
            <mat-icon>save</mat-icon>
          </button>

          <button mat-icon-button (click)="delete()" *ngIf="form.id">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="form.name">
        </mat-form-field>

        <div>
          <app-editor2 [content]="form.definition" [root]="'layout'" (settings)="toolbar = $event"></app-editor2>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav position="end" mode="side" [opened]="toolbar && rightMenuOpen">
    <div style="padding: 15px; position: relative; width: 200px;">
      <div *ngIf="rightMenuOpen">
        <button mat-icon-button (click)="rightMenuOpen = false;">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
