<div class="admin-element">
  <ng-container *ngIf="element">
    <app-toolbar [type]="element.type"
                 [open]="isOpen"
                 [toolbarRef]="toolbar"
                 (onDelete)="onDelete.emit($event)"
                 (onOpenSettings)="onToggleSettings()"
                 (onTypeChange)="changeType($event)"
                 (onOpenToggle)="toggleOpen()">
    </app-toolbar>

    <div [@openClose]="isOpen ? 'open' : 'closed'" class="admin-element-content">
      <ng-container *ngIf="showSettings">
        <app-settings [values]="element.settings"
                      [settingsRef]="settings">
        </app-settings>
      </ng-container>

      <div>
        <div [ngStyle]="{'display': !showSettings ? 'block' : 'none'}">
          <template #content>

          </template>
        </div>
      </div>
    </div>
  </ng-container>
</div>
