<ng-template #settings>
  <div>
    <button mat-icon-button (click)="onDelete.emit({})">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <app-html [values]="values"></app-html>
</ng-template>

<ng-container *ngIf="!isSelected">
  <div [innerHTML]="values.text | safe" [class]="values.classes.join(' ')"></div>
</ng-container>

<ng-container *ngIf="isSelected">
  <ckeditor [editor]="Editor" [config]="{toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ]}" [(ngModel)]="values.text"></ckeditor>
</ng-container>
