html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.admin-element {
  position: relative;

  &.admin-element--selected {
    outline: 1px solid blue;
    background-color: cornflowerblue;
  }

  &:hover {
    outline: 1px dotted blue;

    &[layout] {
      padding: 10px;
    }
  }

  &.admin-element--hover {
    background-color: lightskyblue!important;
  }
}
