<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% for style in styles %}
                {{ style|raw }}
            {% endfor %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {% for script in scripts %}
                {{ script|raw }}
            {% endfor %}
        {% endblock %}
    </body>
</html>
