<div>
  <div class="toolbar">
    <button mat-icon-button (click)="elements.push({})" *ngIf="multi">
      <mat-icon>plus</mat-icon>
    </button>
  </div>

  <div class="content">
    <ng-container *ngIf="multi === false">
      <app-element [element]="elements" [container]="'page'"></app-element>
    </ng-container>

    <ng-container *ngIf="multi === true">
      <ng-container *ngFor="let el of elements; let i = index">
        <app-element [element]="el" (delete)="removeElement(i)" [container]="'page'"></app-element>
      </ng-container>
    </ng-container>
  </div>
</div>
