<div style="display: flex;" class="layout" *ngIf="content.children"
     [ngClass]="{'column': content.direction === 'column', 'row': content.direction === 'row'}"
      [ngStyle]="{'justify-content: space-between': true}">
  <div *ngFor="let el of content.children; let i = index" class="layout-section">
    <app-element [(type)]="content.children[i].type" [(content)]="content.children[i]" (delete)="onDelete(i)"
                 [properties]="el.properties"></app-element>
  </div>
</div>

<ng-template #toolbar>
  <button mat-button>
    <mat-icon (click)="onAdd()">note_add</mat-icon>
  </button>
</ng-template>

<ng-template #settings>
  <div>
    <mat-radio-group [(ngModel)]="content.direction">
      <mat-radio-button value="row">Row</mat-radio-button>
      <mat-radio-button value="column">Column</mat-radio-button>
    </mat-radio-group>
  </div>
</ng-template>
