<div class="element">
  <div class="element-toolbar" style="display: flex; flex-direction: row; justify-content: space-between">
    <div style="display: flex; flex-direction: row">
      <div>
        <button mat-icon-button (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <mat-form-field>
        <mat-label>Typ</mat-label>
        <mat-select [(ngModel)]="type" (selectionChange)="onChangeType($event)">
<!--          <mat-option value="slider">Slider</mat-option>-->
          <mat-option value="layout">Layout</mat-option>
          <mat-option value="text">Text</mat-option>
          <mat-option value="image">Image</mat-option>
<!--          <mat-option value="provider">Provider</mat-option>-->
          <mat-option value="code">Code</mat-option>
          <mat-option value="template">Template</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: right; align-items: center">
      <ng-container *ngIf="toolbar">
        <ng-container *ngTemplateOutlet="toolbar">

        </ng-container>
      </ng-container>

      <mat-button-toggle value="true" [checked]="showSettings"
                         (change)="onToggleSettings($event.source.checked)">
        <mat-icon>settings</mat-icon>
      </mat-button-toggle>
    </div>
  </div>

  <div class="element-content" style="padding: 1em;" [ngClass]="{'hidden': showSettings}">
    <ng-template elementHost [type]="type" [content]="content">

    </ng-template>
  </div>

  <div class="element-settings" [ngClass]="{'hidden': !showSettings}">
    <div>
      <div>
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput [(ngModel)]="properties.id">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-chip-list">
          <mat-label id="classes-label">Classes</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let className of properties.classes" [selectable]="false"
                      [removable]="true" (removed)="remove(className)">
              {{ className }}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Classes"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

      </div>
    </div>

    <div *ngIf="settings">
      <ng-container *ngTemplateOutlet="settings">

      </ng-container>
    </div>
  </div>
</div>
