<mat-drawer-container autosize style="min-height: 100%">
  <mat-drawer mode="side" position="start" opened>
    <div>
      <app-page-tree (onSelect)="page = $event" (onDelete)="deletePage($event);" (onAdd)="viewComp.create($event.parent)" [selection]="page"></app-page-tree>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div style="padding: 15px;">
<!--      <app-page-view [pageId]="page" (onSave)="openSnackbar('saved'); treeComp.reload()"-->
<!--                     (onDelete)="openSnackbar('delete'); treeComp.reload()"></app-page-view>-->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

  <mat-drawer mode="side" position="end" opened>
    <div *ngIf="toolbar" style="padding: 15px; position: relative; width: 200px;">
      <div style="position: fixed;">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
